<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Enter or type your message here</h1>
    <form method ="post"action="/submit">
      <label for="messenger">messengername
<input type="text" name="messenger" id="">
      </label>
      <label for="message">message
        <input type="text" name="message" id="">
      </label>
      <input type="submit" name="button" id="">
    </form>
  </body>
</html>
